{%extends "base.html"%}
  <title>{% block title %}Home{% endblock %}</title>

{%block content%}
<form method="POST">
  <div class="container todo-container">
    <h1 class="text-center mb-4">To-Do List</h1>
    <div class="input-group mb-3">
      <input id="todoInput" type="text" name="todoInput" class="form-control" placeholder="Add a new task">
      <button id="addTaskBtn" class="btn btn-primary">Add Task</button>
    </div>
    </form>

    <ul id="todoList" class="list-group">
      <!-- Example list items -->
      {% for td in user.todo %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex w-100 justify-content-between align-items-center">
          <span>{{ td.todo_data }}</span>
          <div>
            <button class="btn btn-sm  me-2" title="Edit" onClick='editToDo({{ td.id }})'>
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-sm " title="Delete" onClick="deleteToDo({{ td.id }})"">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>

        
        <!-- Inline Edit Input -->
        <div id="edit-input-{{ td.id }}" style="display: none;">
          <input type="text" class="form-control" id="edit-todo-input-{{ td.id }}" value="{{ td.todo_data }}">
          <button class="btn btn-sm btn-success" onClick="saveEdit({{ td.id }})">Save</button>
          <button class="btn btn-sm btn-danger" onClick="cancelEdit({{ td.id }})">Cancel</button>
        </div>





      </li>
      {% endfor %}
    </ul>


  </div>


{% endblock %}